.container{
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0  8rem;
    /* padding: 5rem; */
    box-shadow: rgba(50, 50, 93, 0.23) 1px 30px 30px -20px;
    color: white;
    text-align: center;
    /* background-color: rgb(132, 34, 34); */


}





.footer{
    /* background-color: rgb(132, 34, 34); */
    padding: 1rem 0rem;
    /* margin-top: 10rem; */
    box-shadow: rgba(50, 50, 93, 0.23) 30px 30px 30px -20px;
    /* border: 1px solid white; */
    text-align: center;
    border: 1px solid rgb(220, 220, 220);

}

.footer .container .footer-links ul{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
}

/* .footer .container .footer-links ul{
    display: flex;
    flex-direction: row;
    
} */
/* a#home{
    background-color: #252422;
    margin: 0;
    
} */

.footer .container .footer-links ul li{
    padding: 0.6rem;
    font-weight: 600;
    cursor:pointer;
    border-radius: 10px;
    margin: 0.3rem;

}


.footer .container .footer-links ul li:hover{
    opacity: 0.8;

}


.footer .container .footer-info h3 {
    padding: 0.6rem;
    text-align: center;
}
.footer .container .footer-info h4 {
    padding: 0.6rem;
    text-align: center;
}

.footer .container .footer-social {
    /* background-color: aqua; */
    padding: 0.6rem;
    text-align: center;
    
}

.footer .container .footer-social h3{
    text-align: center;
    margin: 1rem;
}

.footer .container .footer-social p {
    padding: 0.6rem;
}

.footer .container .footer-social p i{
    margin-right: 0.7rem;
}

.footer .container .footer-social p i:hover{
    opacity: 0.7;
}

@media(max-width:900px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        text-align: center;
    }
    /* .footer .container .footer-links ul {
        margin-top: 3rem;
    }
    .footer .container .footer-links ul li{
        border-radius: 0;
    } */
    
    .footer .container .footer-links{
        margin-top: 1.5rem;
    }
    .footer .container .footer-social h3{
        margin-top: 3rem;
    }
    .footer .container .footer-links ul{
        display: flex;
        flex-direction: column;
    }
    
    
}