* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  list-style: none;
  background-color: rgb(132, 34, 34);
}

a {
  text-decoration: none;
  background-color: rgb(132, 34, 34);
}


.navbar {
  /* line-height: 10vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  box-shadow: rgba(132, 34, 34,0.40) 0 30px 30px -20px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: rgb(132, 34, 34);
}

.navbar .logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.navbar .logo img {
  margin: 0 2rem;
  height: 4rem;
  background-color: rgb(132, 34, 34);
  border-radius: 50%;
}

div .logo {
  /* background-color: white; */
  background-color: rgb(132, 34, 34);
}

h5 {
  background-color: rgb(132, 34, 34);
  text-align: end;
  color: white;
}

svg {
  background-color: rgb(132, 34, 34);
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  background-color: rgb(132, 34, 34);
}

.navlinks li {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;
  background-color: rgb(132, 34, 34);
}

.navlinks li:hover {
  border-color: white;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font-size: 20px;
  background-color: rgb(132, 34, 34);
}

.mobile-menu-icon {
  display: none;
  background-color: rgb(132, 34, 34);
}

@media (max-width: 768px) {
  /* .logo{
    display: flex;
    position: absolute;
    top: 15px;
    left: 40px;
  } */
  .navlinks {
    display: none;
  }
  .navlinks-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 100%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: rgb(132, 34, 34);
    font-weight: 600;
    color: white;
  }

  .navlinks-mobile li {
    border-bottom: 0.1rem solid transparent;
    background-color: rgb(132, 34, 34);
  }

  .navlinks-mobile li:hover {
    border-color: white;
    cursor: pointer;
  }

  ul li {
    padding: 32px;
    width: 100%;
    /* transition: all 0.5s ease-in-out; */
    text-align: center;
  }

  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
    color: white;
  }
}
