.App {
  /* text-align: center; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 100px;
  background: #21325e;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-right: 60px;
  margin: 10px;
  font-size: 25px;
}

/* .navbar a:hover {
  background-color: white;
  color: #21325e;
} */

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}

/* Footer */
.footer {
  /* width: 100%;
  height: 220px; */
  background-color: #21325e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-top: 99px;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 60px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 40px;
  }
  .footer {
    width: 100%;
    height: 200px;
    padding-top: 10px;
    margin-top: 45px;
  }
}

/* Home */
.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
  font-size: 60px;
}

.skills li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
}

.skills .list {
  list-style: none;
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.skills .list .item {
  text-align: center;
  padding: 0px;
}

.list span {
  font-size: 17px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 30px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding-left: 70px;
    padding-right: 40px;
    font-size: 15px;
  }

  .skills h2 {
    font-size: 25px;
  }
}
.experience {
  width: 100%;
}

/* about me section */

.aboutMe {
  /* width: 100%;
  height: auto; */
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #21325e;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 60px;
  color: #e9d35b;
  margin-left: 25px;
  margin-right: 70px;
  /* text-align: center; */
}

.paragraph {
  width: 50%;
  padding: 15px;
  background-color: #ddd;
  color: #21325e;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
}

.certificate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title2 {
  color: #21325e;
  font-size: 60px;
  margin-left: 25px;
  margin-right: 20px;
}

.certificateCard {
  background-color: #21325e;
  color: #ddd;
  margin: 15px;
  width: 90vh;
  height: 20vh;
  border-radius: 20px;
  font-size: 25px;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
/* .certificateCard > h3{
  font-size: 30px;
} */

.certificateLink {
  color: #21325e;
  text-decoration: none;
  font-weight: 800;
  font-size: 19px;
  background-color: #ddd;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  margin-left: 16px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .paragraph {
    width: 80%;
    height: 70%;
  }

  .aboutMe {
    /* display: flex; */
    flex-direction: column;
  }

  .title2 {
    font-size: 40px;
  }
  .certificateCard {
    width: 50vh;
    height: 20vh;
    font-size: 17px;
    

  }

  .certificateCard h3{
    padding: 1px;
  }
  .certificateLink {
    font-size: 10px;
    margin-left: 0px;
    margin-right: 10px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 5px;
  }
  
}

